#hero-banner {
    position: relative;
    text-align: center;
    video {
        width: 100%;
    }
    .hero-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: all 0.3s;
        &.show {
            opacity: 1;
        }
        .dgg-container {
            display: flex;
            align-items: center;
            height: 100%;
        }
    }
    .title {
        font-size: 60px;
        font-family: $font-primary;
        color: white;
        font-weight: 500;
        letter-spacing: 2px;
        text-transform: uppercase;
        line-height: 60px;
        text-shadow: 0px 0px 12px rgba(7, 40, 74, 0.7), 0px 0px 12px rgba(7, 40, 74, 0.7);
        line-height: 80px;
        @media screen and (max-width: 768px) {
            font-size: 30px;
            line-height: 40px;
        }
        @media screen and (max-width: 767px) {
            font-size: 16px;
            line-height: 22px;
        }
        div {
            background: #ff9300;
            background: linear-gradient(to right, #ff9300 0%, #ffdf8d 50%, #ff9300 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-shadow: 0px 0px 5px rgba(255, 147, 0, 0.8);
        }
    }
    .dgg-btn {
        display: inline-block;
        margin: 0 auto;
    }
}
.float-icon {
    position: absolute;
    opacity: 0.5;
    z-index: 10;
    @media screen and (max-width: 1024px) {
        display: none;
    }
}
.sun-avatar {
    width: 233px;
    height: 233px;
    background: url(../images/sun-avatar.png) no-repeat;
    background-size: 233px 233px;
}
.star-avatar {
    width: 169px;
    height: 169px;
    background: url(../images/star-avatar.png) no-repeat;
    background-size: 169px 169px;
}
.star-avatar-2 {
    width: 145px;
    height: 145px;
    background: url(../images/star-avatar-2.png) no-repeat;
    background-size: 145px 145px;
}
.star-avatar-3 {
    width: 126px;
    height: 126px;
    background: url(../images/star-avatar-3.png) no-repeat;
    background-size: 126px 126px;
}
.star-avatar-4 {
    width: 63px;
    height: 63px;
    background: url(../images/star-avatar-3.png) no-repeat;
    background-size: 63px 63px;
}
.moon-avatar {
    width: 154px;
    height: 179px;
    background: url(../images/moon-avatar.png) no-repeat;
    background-size: 154px 179px;
}
.moon-avatar-2 {
    width: 235px;
    height: 235px;
    background: url(../images/moon-avatar-2.png) no-repeat;
    background-size: 235px 235px;
}
#story {
    position: relative;
    background: url(../images/beautiful-shining-stars-night-sky.png) no-repeat;
    background-position: center top;
    background-size: 100%;
    .accordion {
        @media screen and (max-width: 767px) {
            margin-top: 40px;
        }
    }
    .sun-avatar {
        left: 50px;
        top: 480px;
    }
    .star-avatar {
        right: 50px;
        bottom: 50px;
    }
    .dgg-container {
        background: url(../images/circle-bg.png) no-repeat;
        background-position: center 270px;
    }
    .dgg-img {
        margin: 180px auto 100px;
        @media screen and (max-width: 767px) {
            width: 70%;
            margin-top: 100px;
        }
    }
    .desc {
        padding: 160px 0 0;
        margin: 0 auto;
        background: url(../images/circle-bg.png) no-repeat;
        background-position: center 50px;
        .text-1 {
            font-size: 22px;
            color: #ffd897;
            line-height: 28px;
            @media screen and (max-width: 767px) {
                font-size: 18px;
            }
        }
        .text-2 {
            margin-top: 10px;
            font-size: 16px;
            color: white;
            line-height: 24px;
            @media screen and (max-width: 767px) {
                font-size: 14px;
            }
        }
        p {
            margin: 25px 0;
            @media screen and (max-width: 767px) {
                margin: 20px 0;
            }
        }
        @media screen and (min-width: 991px) {
            max-width: 960px;
        }
    }
    .accordion {
        @media screen and (min-width: 992px) {
            margin-left: 10px;
        }
    }
}
#the-symbol {
    .symbol-content {
        position: relative;
        margin-top: 120px;
        background: url(../images/the-symbol-bg.png) no-repeat;
        background-position: -1066px center;
        background-size: 385%;
        @media screen and (min-width: 768px) {
            background-size: 250%;
        }
        @media screen and (min-width: 1024px) {
            background-size: 220%;
        }
        @media screen and (min-width: 1140px) {
            background-size: 100%;
            min-height: 1100px;
            background-position: center center;
        }
        @media screen and (min-width: 1440px) and (max-width: 1900px) {
            background-size: 114%;
        }
        .top-line {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            &::before {
                position: absolute;
                top: -8px;
                left: 0;
                content: "";
                width: 100%;
                height: 30px;
                background: url(../images/symbol-border.png) no-repeat 0 center;
                background-size: 100%;
                z-index: 1;
                @media screen and (max-width: 768px) {
                    background-size: 200%;
                    background-position: center center;
                }
            }
            &::after {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 100px;
                content: "";
                background: rgb(255, 255, 255);
                background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(8, 14, 23, 1) 100%);
            }
            &.bottom {
                top: inherit;
                bottom: 0;
                transform: rotate(180deg);
            }
        }
    }
    .accordion {
        padding: 200px 0;
        @media screen and (min-width: 992px) {
            max-width: 600px;
        }
        @media screen and (max-width: 991px) {
            padding: 200px 0;
        }
        @media screen and (max-width: 767px) {
            padding: 100px 0;
        }
    }
}
#vision {
    position: relative;
    background: url(../images/vision-bg.png) no-repeat bottom center;
    background-size: 100%;
    .moon-avatar {
        top: -50px;
        left: 50px;
    }
    .star-avatar-2 {
        top: 680px;
        right: 50px;
    }
    .vision-items {
        position: relative;
        width: 844px;
        height: 875px;
        margin: 160px auto 100px;
        background: url(../images/vision-items-bg.png);
        font-size: 22px;
        color: white;
        text-transform: uppercase;
        @media screen and (max-width: 992px) {
            margin: 20px 0 -140px;
            transform: scale(0.8) translateX(-5%);
        }
        @media screen and (max-width: 767px) {
            margin: -100px 0 -170px;
            transform: scale(0.44) translateX(-57%);
        }
        .item {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 339px;
            height: 292px;
            cursor: pointer;
            .text-item {
                padding: 20px 20px;
                transition: all 0.2s;
                z-index: 2;
                // &:hover {
                //     + .active-item {
                //         opacity: 1;
                //         z-index: 2;
                //     }
                // }
            }
        }
        .item-1 {
            position: absolute;
            top: 146px;
            left: 0;
            .active-item {
                left: 0;
                bottom: -1px;
                right: 0;
            }
        }
        .item-2 {
            position: absolute;
            top: 0;
            left: 253px;
            .active-item {
                left: 0;
                bottom: -1px;
            }
        }
        .item-3 {
            position: absolute;
            top: 145px;
            right: 0;
            .active-item {
                left: 0;
                bottom: -1px;
            }
        }
        .item-4 {
            position: absolute;
            top: 435px;
            right: 0;
            .active-item {
                left: 0;
                bottom: -1px;
            }
        }
        .item-5 {
            position: absolute;
            bottom: 0;
            left: 253px;
            .active-item {
                left: 0;
                bottom: -1px;
            }
        }
        .item-6 {
            position: absolute;
            top: 437px;
            left: 0;
            .active-item {
                left: 0;
                bottom: -1px;
            }
        }
        .item-7 {
            position: absolute;
            top: 291px;
            left: 252px;
            .active-item {
                left: 0;
                bottom: -1px;
            }
        }
        .active-item {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: absolute;
            left: 0;
            bottom: -1px;
            right: 0;
            width: 339px;
            height: 293px;
            background: url(../images/vision-item-active-bg.png);
            opacity: 0;
            &.active {
                opacity: 1;
                z-index: 2;
                .title {
                    text-shadow: 0px 0px 10px #ff6c00, 0px 0px 10px #ff6c00;
                }
            }
            i {
                margin-top: 20px;
            }
        }
    }
}
.team-items,
.advisor-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .item {
        margin: 35px 0;
        padding-left: 40px;
        padding-right: 40px;
        @media screen and (min-width: 992px) {
            flex: 0 0 33.333%;
            max-width: 33.333%;
        }
        @media screen and (max-width: 767px) {
            margin: 25px 0;
        }
        cursor: pointer;
        &.active {
            flex: 0 0 100%;
            max-width: 100%;
        }
        &:hover {
            img {
                transform: scale(1.1);
            }
        }
        img {
            filter: drop-shadow(7px 10px 18px #000000);
            transition: all 500ms ease;
            @media screen and (max-width: 767px) {
                width: 200px;
            }
        }
        .caption {
            text-transform: uppercase;
            letter-spacing: 5px;
            color: #ffffff;
            margin-top: 35px;
            @media screen and (max-width: 767px) {
                margin-top: 25px;
            }
            .caption-name {
                font-size: 30px;
                margin-bottom: 17px;
                text-shadow: 0px 0px 8px rgba(0, 216, 255, 0.7), 0px 0px 8px rgba(0, 216, 255, 0.7);
                @media screen and (max-width: 767px) {
                    margin-bottom: 14px;
                    font-size: 26px;
                }
            }
            .caption-title {
                font-size: 16px;
                color: rgba(255, 255, 255, 0.7);
                @media screen and (max-width: 767px) {
                    font-size: 14px;
                }
                span {
                    display: block;
                    margin-bottom: 15px;
                }
            }
        }
    }
}
#team {
    position: relative;
    .star-avatar-3 {
        top: 100px;
        left: 50px;
    }
    .star-avatar-4 {
        top: 80px;
        right: 50px;
    }
    .moon-avatar-2 {
        bottom: 20px;
        right: 50px;
    }
}
.partner {
    .partner-content {
        @media screen and (max-width: 767px) {
            margin: 20px 0;
        }
        .title {
            text-transform: uppercase;
            color: #ffffff;
            font-size: 30px;
            margin-bottom: 30px;
            text-shadow: 0px 0px 18px rgba(0, 216, 255, 0.35), -6px 0px 18px rgba(0, 216, 255, 0.35);
            @media screen and (max-width: 767px) {
                font-size: 26px;
            }
        }
        img {
            @media screen and (max-width: 767px) {
                width: 60%;
            }
        }
    }
}
#alliance {
    .nav-tabs {
        margin-top: 120px;
    }
    .list-alliance {
        margin-top: 80px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .item-alliance {
            padding-left: 30px;
            padding-right: 30px;
            flex: 0 0 50%;
            max-width: 50%;
            @media screen and (min-width: 992px) {
                flex: 0 0 20%;
                max-width: 20%;
            }
            @media screen and (max-width: 992px) {
                margin: 20px 0;
            }
    
            .alliance-content {
                display: inline-block;
                position: relative;
                transition: all 500ms ease;
                cursor: pointer;
                img {
                    filter: drop-shadow(8px 9px 13px #000);
                }
                &:hover {
                    transform: translateY(-15px);
                }
            }
            .text {
                font-size: 24px;
                color: #ffffff;
                text-transform: uppercase;
                text-shadow: 0px 0px 18px rgba(255, 132, 0, 0.35), -6px 0px 18px rgba(255, 132, 0, 0.35);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                @media screen and (max-width: 767px) {
                    font-size: 20px;
                }
            }
        }
    }
}
#roadmap {
    .accordion {
        margin-top: 200px;
        @media screen and (max-width: 767px) {
            margin-top: 140px;
        }
    }
    .list {
        list-style: none;
        padding: 0;
        @media screen and (min-width: 992px) {
            padding-left: 15px;
        }
        li {
            position: relative;
            padding: 10px 0 10px 20px;
            &::before {
                content: "";
                width: 8px;
                height: 8px;
                border: 1px solid #fff;
                display: block;
                position: absolute;
                top: 17px;
                left: 0;
                transform: rotate(45deg);
            }
        }
    }
}
#contact-us {
    .item-list {
        margin-top: 150px;
        flex-wrap: wrap;
        @media screen and (max-width: 768px) {
            margin-top: 100px;
        }
        .item-wrapper {
            @media screen and (max-width: 767px) {
                margin: 10px 0;
                flex: 0 0 33.33%;
                max-width: 33.33%;
            }
            .text {
                text-align: center;
                font-size: 20px;
                color: white;
                letter-spacing: 4px;
                text-transform: uppercase;
                text-shadow: 0px 0px 10px #00d8ff, 0px 0px 10px #00d8ff;
                transition: all 0.2s;
                margin-top: 10px;
                @media screen and (max-width: 768px) {
                    font-size: 14px;
                }
            }
            &:hover {
                .item {
                    filter: brightness(120%) saturate(120%);
                }
                .text {
                    text-shadow: 0px 0px 10px #00d8ff, 0px 0px 10px #00d8ff, 0px 0px 15px #00d8ff;
                }
            }
        }
    }
    .item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 158px;
        height: 158px;
        background: url(../images/contact-item-bg.png) no-repeat center center;
        background-size: 100%;
        @media screen and (max-width: 768px) {
            width: 79px;
            height: 79px;
            margin: 10px auto;
            background-size: 79px 79px;
            img {
                width: 65%;
            }
        }
    }
    .dgg-btn {
        margin-top: 130px;
        @media screen and (max-width: 767px) {
            margin-top: 70px;
        }
    }
}
.copyright {
    padding: 100px 0;
    color: #fff;
    font-size: 14px;
    font-family: $font-secondary;
    @media screen and (max-width: 767px) {
        padding: 60px 0;
    }
}
main {
    position: relative;
    background: url(../images/bottom-page-effect-bg.png) no-repeat bottom center;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 542px;
        background: url(../images/beautiful-shining-stars.png) no-repeat center center;
        z-index: -1;
    }
}
.modal-dialog {
    max-width: 860px;
    margin: 0 auto;
    @media screen and (max-width: 1024px) {
        width: 700px
    }
    @media screen and (max-width: 767px) {
        max-width: 360px;
    }
}
.modal-content {
    width: 860px;
    height: 744px;
    padding: 2px;
    background: #9b5b0c;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    color: white;
    @media screen and (max-width: 1024px) {
        width: 700px;
        height: 606px;
    }
    @media screen and (max-width: 767px) {
        width: 375px;
        height: 360px;
    }

    h3 {
        padding: 80px 0 60px;
        font-size: 30px;
        text-transform: uppercase;
        text-shadow: 0px 0px 10px #ff6c00, 0px 0px 10px #ff6c00;
        line-height: 48px;
        @media screen and (max-width: 1024px) {
            padding: 30px;
        }
        @media screen and (max-width: 767px) {
            padding: 20px;
            font-size: 20px;
            line-height: 24px;
        }
    }
    .desc {
        font-size: 16px;
        max-width: 70%;
        margin: 0 auto;
        @media screen and (max-width: 1024px) {
            height: 304px;
        }
        @media screen and (max-width: 767px) {
            height: 180px;
            font-size: 12px;
            overflow-y: auto;
        }
    }
    .modal-inner {
        width: 854px;
        height: 740px;
        background: #001432 url(../images/popup-bg.png) no-repeat center -10px;
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        @media screen and (max-width: 1024px) {
            width: 694px;
            height: 600px;
        }
        
        @media screen and (max-width: 767px) {
            width: 369px;
            height: 354px;
        }
    }
    .btn {
        margin-top: 50px;
        color: white;
        text-shadow: 0px 0px 10px #ff6c00, 0px 0px 10px #ff6c00;
        font-size: 30px;
        @media screen and (max-width: 1024px) {
            margin-top: 20px;
        }
        @media screen and (max-width: 767px) {
            padding: 0;
            margin-top: 5px;
        }
    }
}
.story-box {
    height: 100%;
    padding: 17px 44px;
    border: 2px solid #c4cff3;
    background: #001432 url(../images/accordion-content-bg.png) no-repeat 0 0;
    color: white;
    @media screen and (min-width: 992px) {
        margin-right: 10px;
    }
    .label {
        text-transform: uppercase;
        font-size: 20px;
    }
    .text-1 {
        margin-top: 25px;
        font-size: 20px;
        color: #ffd897;
        line-height: 28px;
        @media screen and (max-width: 767px) {
            font-size: 18px;
        }
    }
    .text-2 {
        margin-top: 10px;
        font-size: 16px;
        color: white;
        line-height: 24px;
        @media screen and (max-width: 767px) {
            font-size: 14px;
        }
    }
    p {
        margin: 25px 0;
        @media screen and (max-width: 767px) {
            margin: 20px 0;
        }
    }
}
#space-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1040;
    overflow-x: hidden;
    overflow-y: auto;
    background: url(../images/space-bg.png) no-repeat center center;
    background-size: 100%;
    
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
    }
}
.bg-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 11000px;
    transform: translate3d(0, 0, 0);
}
.bg {
    // position: fixed;
    // top: 0;
    // left: 0;
    // right: 0;
    // height: 100vh;
    // // background: url(../images/space-bg.png) no-repeat center center;
    // background-size: 110%;
    // overflow: hidden;
    // @media screen and (max-width: 768px) {
    //     background-size: 245%;
    // }
    
}
.scroll {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: transparent;
    z-index: 2
}
.scroll-text {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // transform: translateX(-50%);
    background: transparent;
    z-index: 2;
    color: white;
    font-size: 40px;
    transition: all 0.3s;
    .inner {
        position: absolute;
        bottom: 200px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
    &.hide {
        opacity: 0;
    }
    .text {
        text-transform: uppercase;
        text-shadow: 0px 0px 12px rgba(7, 40, 74, 0.8), 0px 0px 12px rgba(7, 40, 74, 0.8);
        letter-spacing: 5px;
    }
}
.stars-outer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: transparent
}